a {
  text-decoration: none;
  font-size: 20px;
}
body {
  background: #efefed;
}

/* .navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-nav.flex-row {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav.flex-row .nav-item {
  margin-right: 7px;
} */
