a {
  text-decoration: none;
  font-size: 20px;
}
body {
  background: #f7f6f6;
}

.navbar {
  background-color: #484848;
}
/* .navbar .navbar-nav .nav-link {
  color: #fff;
} */
.navbar .navbar-nav .nav-link:hover {
  color: #fbc531;
}
.navbar .navbar-nav .active > .nav-link {
  color: #fbc531;
}

footer a.text-light:hover {
  color: #fed136 !important;
  text-decoration: none;
}
footer .cizgi {
  border-right: 1px solid #535e67;
}
@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}
@media (max-width: 992px) {
  form {
    flex-wrap: wrap;
  }
}

.navbar-brand img {
  width: 150px;
  height: 60px;
  border-radius: 15px;
}

/* .navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar-nav.flex-row {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-nav.flex-row .nav-item {
  margin-right: 7px;
} */
