.toggler-btn {
  background: inherit;
  border: none;
  padding: 0;
}
.nav-toggler-icon {
  position: relative;
  width: 32px;
  height: 23px;
}
.nav-toggler-icon span:nth-child(1),
.nav-toggler-icon span:nth-child(2),
.nav-toggler-icon span:nth-child(3) {
  position: absolute;
  background-color: black;
  display: block;
  height: 2px;
}
.nav-toggler-icon span:nth-child(1),
.nav-toggler-icon span:nth-child(3) {
  width: 20px;
}
.nav-toggler-icon span:nth-child(1) {
  top: 0;
}
.nav-toggler-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.nav-toggler-icon span:nth-child(3) {
  bottom: 0px;
}

.toggler-btn.close .nav-toggler-icon span:nth-child(1) {
  width: 100%;
  transform-origin: 0 0;
  transform: rotateZ(45deg);
  transition: 0.5s;
}

.toggler-btn.close .nav-toggler-icon span:nth-child(2) {
  transition: 0.5s;
  display: none;
}

.toggler-btn.close .nav-toggler-icon span:nth-child(3) {
  width: 100%;
  transform: rotateZ(-45deg);
  transform-origin: 0 100%;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fff8f8de;
}
.navbar .navbar-nav .active > .nav-link {
  color: #fff8f8de;
}

footer a.text-light:hover {
  color: #fed136 !important;
  text-decoration: none;
}
footer .cizgi {
  border-right: 1px solid #535e67;
}
@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}
@media (max-width: 992px) {
  form {
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .navbar-collapse {
    background-color: #ffffff;
  }
}

.navbar-brand img {
  width: 130px;
  height: 60px;
  border-radius: 15px;
}
.dropdown-menu[data-bs-popper] {
  left: -74px;
}

@media (max-width: 449px) {
  .dropdown-menu[data-bs-popper] {
    left: 0px;
  }
}
@media (max-width: 449px) {
  .dropdown {
    display: flex;
    width: 100%;
  }
}

.navbar {
  transition:
    background-color 0.3s ease-in-out,
    height 0.5s ease-in-out;
  height: 80px;
}

.navbar.sticky {
  height: 92px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f9f9f9 !important; /* Change to the desired darker background color */
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dropdown-toggle {
  border: none;
  background-color: #c5c5c263;
  padding: 6px 13px;
  border-radius: 18px;
  font-size: 16;
  font-weight: 600;
}

.dropdown-toggle .dropdown-menu {
  background-color: #ffffff;
}

.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:visited {
  background-color: #c5c5c263 !important;
}

.user-info {
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  color: #111010;
  background: #bcbdbe;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 90;
  text-wrap: nowrap;
  border: none;
  display: none;
}
.management {
  padding-bottom: 20px;
  top: 5px;
  left: 10px;
  justify-content: center;
  align-items: center;
  background: #bcbdbe;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
  text-wrap: nowrap;
  border: none;
  color: rgba(0, 0, 0, 0.65);
}
.management-li {
  display: none;
}

.management .dropdown_menu {
  width: 130%;
  left: 5px;
}
@media (min-width: 1201px) and (max-width: 1360px) {
  /* Styles for the desired viewport range */
  .management {
    top: 28px;
    left: 0px;
  }
}
@media (max-width: 1200px) {
  /* Styles for the desired viewport range */
  .management {
    left: 21px;
  }
}

.user-info:hover,
.management:hover {
  cursor: pointer;
}
.user-info:hover .dropdown_menu li,
.management:hover .dropdown_menu li {
  display: block;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 8px;
  width: 67%;
  perspective: 1000px;
  z-index: -1;
}
.dropdown_menu li {
  display: none;
  background-color: #fbc531;
  padding: 10px 20px;
  font-size: 16px;
  opacity: 0;
}
.dropdown_menu li a {
  text-decoration: none;
  color: black;
  font-family: fangsong;
}
.dropdown_menu li:hover {
  background-color: #d9aa27;
  color: #f1eded;
  border-radius: 4px;
  font-family: fangsong;
}
.dropdown_menu li:hover a {
  color: #f1eded;
}
.dropdown:hover .dropdown_menu--animated {
  display: block;
}
.dropdown_menu--animated {
  display: none;
}
.dropdown_menu--animated li {
  display: block;
  opacity: 1;
}

.dropdown_menu-5 .dropdown_item-1 {
  transform-origin: top center;
  animation: translateX 300ms 60ms ease-in-out forwards;
}
.dropdown_menu-5 .dropdown_item-2 {
  transform-origin: top center;
  animation: translateX 300ms 120ms ease-in-out forwards;
}

@-moz-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
