.toggler-btn {
  background: inherit;
  border: none;
  padding: 0;
}
.nav-toggler-icon {
  position: relative;
  width: 32px;
  height: 23px;
}
.nav-toggler-icon span:nth-child(1),
.nav-toggler-icon span:nth-child(2),
.nav-toggler-icon span:nth-child(3) {
  position: absolute;
  background-color: black;
  display: block;
  height: 2px;
}
.nav-toggler-icon span:nth-child(1),
.nav-toggler-icon span:nth-child(3) {
  width: 20px;
}
.nav-toggler-icon span:nth-child(1) {
  top: 0;
}
.nav-toggler-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.nav-toggler-icon span:nth-child(3) {
  bottom: 0px;
}

.toggler-btn.close .nav-toggler-icon span:nth-child(1) {
  width: 100%;
  transform-origin: 0 0;
  transform: rotateZ(45deg);
  transition: 0.5s;
}

.toggler-btn.close .nav-toggler-icon span:nth-child(2) {
  transition: 0.5s;
  display: none;
}

.toggler-btn.close .nav-toggler-icon span:nth-child(3) {
  width: 100%;
  transform: rotateZ(-45deg);
  transform-origin: 0 100%;
  transition: 0.5s;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fbc531;
}
.navbar .navbar-nav .active > .nav-link {
  color: #fbc531;
}

footer a.text-light:hover {
  color: #fed136 !important;
  text-decoration: none;
}
footer .cizgi {
  border-right: 1px solid #535e67;
}
@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}
@media (max-width: 992px) {
  form {
    flex-wrap: wrap;
  }
}

.navbar-brand img {
  width: 150px;
  height: 60px;
  border-radius: 15px;
}
.dropdown-menu[data-bs-popper] {
  left: -104px;
}

.navbar {
  transition: background-color 0.3s ease-in-out, height 0.5s ease-in-out;
  height: 120px;
}

.navbar.sticky {
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #f9f9f9 !important; /* Change to the desired darker background color */
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
